<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <meta charset="utf-8">
    <!-- 여기에 CSS 및 JavaScript 파일을 포함할 수 있습니다 -->

    <script src="/assets/js/history.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="main-banner" id="top">
        <div id="main" class="container">
            <div class="container">
                <div class="row">
                    <div class="col-6" style="margin-left:-2%">
                        <!-- 기간별 -->
                        <div class="row">
                            <div class="container-table p-3">
                                <h3 style="text-align:center">User Assets</h3>
                                <table style="min-height: 500px">
                                    <thead>
                                    <tr>
                                        <th>종목명</th>
                                        <th>금액</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>종목명 값</td>
                                        <td>금액 값</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container-table p-3">
                                <h3 style="text-align:center">User Assets</h3>
                                <table style="min-height: 500px">
                                    <thead>
                                    <tr>
                                        <th>종목명</th>
                                        <th>금액</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>종목명 값</td>
                                        <td>금액 값</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="margin-right:1%">
                        <div class="row">
                            <div class="container-table p-3">
                                <h3 style="text-align:center">User Assets</h3>
                                <div style="width: 252px;">
                                    <h2>실시간 시장 동향</h2>
                                    <table id="realtimeMarketTable">
                                        <thead>
                                        <tr>
                                            <th>순위</th>
                                            <th>이름/코드</th>
                                            <th>변동률</th>
                                            <th>현재가</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- 여기에 웹소켓 데이터가 삽입됩니다 -->
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="container-table p-3 ms-1" style="min-height: 300px">
                                <table style="min-height: 520px">
                                    <thead>
                                    <tr>
                                        <th>종목명</th>
                                        <th>거래량</th>
                                        <th>매수</th>
                                        <th>매도</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>종목명 값</th>
                                        <th>거래량 값</th>
                                        <th>매수 값</th>
                                        <th>매도 값</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>
