<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <meta charset="utf-8">
    <!-- 여기에 CSS 및 JavaScript 파일을 포함할 수 있습니다 -->
</head>
<body>
<th:block layout:fragment="content">
    <div class="main-banner" id="top">
        <div id="main" class="container">
            <div class="container">
                <div class="row">
                    <div class="col-6" style="margin-left:-2%">
                        <div class="row mb-5">
                            <h1 style="color:white; text-align:center">[[${userID}]]([[${userName}]])님의 MyPage</h1>
                        </div>
                        <div class="row">
                            <div class="container-table p-3">
                                <h3 style="text-align:center">User Assets</h3>
                                <table style="min-height: 500px">
                                    <thead>
                                    <tr>
                                        <th>종목명</th>
                                        <th>금액</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>종목명 값</td>
                                        <td>금액 값</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="margin-right:1%">
                        <div class="row">
                            <button type="button" class="btn btn-danger p-3 mt-5" onclick="window.location.href='/virtualInvest';">[[${userID}]]([[${userName}]])님의 투자보고서 보러가기!</button>
                        </div>
                        <div class="row">
                            <div class="container-table p-3 ms-1" style="min-height: 300px">
                                <table style="min-height: 520px">
                                    <thead>
                                    <tr>
                                        <th>종목명</th>
                                        <th>거래량</th>
                                        <th>매수</th>
                                        <th>매도</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>종목명 값</th>
                                        <th>거래량 값</th>
                                        <th>매수 값</th>
                                        <th>매도 값</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>
