<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <meta charset="utf-8">
    <!-- 여기에 CSS 및 JavaScript 파일을 포함할 수 있습니다 -->
</head>
<body>
<th:block layout:fragment="content">
    <div class="main-banner" id="top">
        <div id="main" class="container" style="margin-top:-2%">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="container-table p-3">
                                <h2 style="text-align:center;">[[${userID}]]([[${userName}]])님 </h2>
                            </div>
                            <br>
                            <div class="container-table mt-3 p-5"  style="height: 500px">
                                <h2 style="text-align:center;">[[${userName}]]의 Assets(암호화폐 자산) </h2>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>종목명</th>
                                            <th>금액</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>종목명 값</td>
                                            <td>금액 값</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row ms-3 ">
                            <div class="container-table mb-3 p-5"  style="height: 500px">
                                <h2 style="text-align:center;">Trade History</h2>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>종목명</th>
                                            <th>거래량</th>
                                            <th>매수액</th>
                                            <th>매도액</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>종목명 값</td>
                                            <td>거래량 값</td>
                                            <td>매수액 값</td>
                                            <td>매도액 값</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <br>
                            <button type="button" class="btn btn-danger p-3" style="width:100%; font-size:20px" onclick="window.location.href='/virtualInvest';">
                                [[${userName}]]님의 투자보고서 보러가기!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
