<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/template}"
>
<head>


</head>
<div layout:fragment="content">

    <!-- ***** Preloader End ***** -->
    <div class="main-banner" id="top">
        <div class="container">
          <h2 style="color: white; margin-bottom: 3%;">변동률 top5</h2>
          <div class="slide_container">
                <div class="slide_wrapper">
                    <ul class="slides">
                        <li class="slide">{coinNames.}</li>
                        <li class="slide">slide 02</li>
                        <li class="slide">slide 03</li>
                        <li class="slide">slide 04</li>
                        <li class="slide">slide 05</li>
                    </ul>
                    <div class="controls">
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"><i class="fa-solid fa-chevron-left"></i></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                            <span class="carousel-control-next-icon"><i class="fa-solid fa-chevron-right"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
                <!-- ======================= 하단 나의 관심종목 =========================== -->
        <div class="row indexrow">
            <div class="col-6">
                <div class="contaioner indexcnt">
                <h3>거래량이 제일 많은 암호화폐 TOP5</h3>
                <table id="realtimeTradeVolumeTable">
                    <thead>
                        <tr>
                            <th>종목</th>
                            <th>거래량</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>비트코인</td>
                            <td>1000</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>

            <div class="col-6">
                <div class="contaioner indexcnt">
                    <h3>최근 거래된 암호화폐 거래기록 TOP5</h3>
                    <div id="main"></div> <!-- 워드 클라우드 차트를 위한 컨테이너 -->


                </div>
            </div>
    </div>

    <script src="/assets/js/slider.js"></script>

</div>
</html>
