<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <meta charset="utf-8">
    <!-- 여기에 CSS 및 JavaScript 파일을 포함할 수 있습니다 -->
</head>
<body>
<th:block layout:fragment="content">
    <div class="main-banner" id="top">
        <div id="main" class="container">
            <div class="container">
                <div class="row">
                    <div class="col-4" style="margin-left:-2%">
                        <div class="container-table">
                            <table style="padding:5%; max-height:500px;">
                                <thead style="font-size:10px;">
                                <tr>
                                    <th class="coin-name sortable" onclick="sortTable(0)">종목명</th>
                                    <th class="current-price sortable" onclick="sortTable(1)">현재가</th>
                                    <th class="change-rate sortable" onclick="sortTable(2)">변화률</th>
                                    <th class="trade-volume sortable" onclick="sortTable(3)">거래대금(24h)</th>
                                </tr>
                                </thead>
                                <tbody id="tradeList" style="font-size:13px;">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-4" style="margin-right:1%">
                        <div class="row">
                            <div class="container-table"style="min-height: 300px">
                                <table>
                                    <tr>
                                        <td id="coinName2"><h4></h4></td>
                                        <td id="coinCode2"></td>
                                        <td>-</td>
                                        <td >-</td>
                                    </tr>
                                    <tr>
                                        <td id="currentPrice2"><h4></h4></td>
                                        <td id="changeRate2"></td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>거래량 (24h)</td>
                                        <td id="volume2">-</td>
                                        <td>고가 (당일)</td>
                                        <td id="highPrice2">-</td>
                                    </tr>
                                    <tr>
                                        <td>거래금액 (24h)</td>
                                        <td id="tradeAmount2">-</td>
                                        <td>저가 (당일)</td>
                                        <td id="lowPrice2">-</td>
                                    </tr>
                                    <tr>
                                        <td>채결강도</td>
                                        <td id="tradeStrength2">-</td>
                                        <td>전일 종가</td>
                                        <td id="prevClosingPrice2">-</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-table">
                                <table style="min-height: 400px">
                                    <thead>
                                        <tr>
                                            <th style="width:33%;">시간</th>
                                            <th style="width:33%;">가격</th>
                                            <th style="width:33%;">수량</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>시간 값</td>
                                        <td>가격 값</td>
                                        <td>수량 값</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 container-table" style="height:700px">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" id="buyButton" class="btn btn-danger" style="width:100%">매수</button>
                            </div>
                            <div class="col-6">
                                <button type="button" id="sellButton" class="btn btn-primary" style="width:100%">매도</button>
                            </div>
                        </div>
                        <!-- ======================= 매수 창 ===================================-->
                        <div id="buyWindow">
                            <!-- 주문형태 선택 -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="orderType" id="limitOrder" value="limit" checked>지정가
                                        <label class="form-check-label" for="limitOrder"></label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="orderType" id="marketOrder" value="market">시장가
                                        <label class="form-check-label" for="marketOrder"></label>
                                    </div>
                                </div>
                            </div>

                            <!-- 지정가 내용 -->
                            <div id="limitOrderContent">
                                <table class="table-order">
                                    <!-- 지정가 관련 내용의 행들 -->
                                    <tr>
                                        <td>주문가격</td>
                                        <td>
                                            <input type="number" value="71619000">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>주문수량</td>
                                        <td>
                                            <input type="text" placeholder="최소 주문 가능 수량 0.0001 BTC">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>수수료</td>
                                        <td>거래대금의 0.25%</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- 시장가 내용 -->
                            <div id="marketOrderContent" style="display:none;">
                                <table class="table-order">
                                    <!-- 시장가 관련 내용의 행들 -->
                                    <tr>
                                        <td>주문가능</td>
                                        <td>[[${userAsset}]]</td><!-- 유저의 잔액 조회-->
                                    </tr>
                                    <tr>
                                        <td>주문금액</td>
                                        <td><input type="text" placeholder="최소 주문금액 10,000 원"></td>
                                    </tr>
                                    <tr>
                                        <td>예상수량</td>
                                        <td>0 BTC</td>
                                    </tr>
                                    <tr>
                                        <td>수수료</td>
                                        <td>거래금액의 0.25%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <!-- =========================== 매도 창 ==================================-->
                        <div id="sellWindow" style="display:none;">
                            <!-- 주문형태 선택 (지정가, 시장가) -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <!-- 지정가 선택 라디오 버튼 -->
                                        <input type="radio" class="form-check-input" name="sellOrderType" id="limitSellOrder" value="limit" checked>지정가
                                        <label class="form-check-label" for="limitSellOrder"></label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <!-- 시장가 선택 라디오 버튼 -->
                                        <input type="radio" class="form-check-input" name="sellOrderType" id="marketSellOrder" value="market">시장가
                                        <label class="form-check-label" for="marketSellOrder"></label>
                                    </div>
                                </div>
                            </div>

                            <!-- 지정가 내용 -->
                            <div id="limitSellOrderContent">
                                <table class="table-order">
                                    <!-- 테이블 내용은 매도 주문에 필요한 필드를 포함합니다 -->
                                    <tr>
                                        <td>주문가격</td>
                                        <td><input type="number" value="0"></td> <!-- 사용자가 가격을 입력할 수 있습니다 -->
                                    </tr>
                                    <tr>
                                        <td>주문수량</td>
                                        <td><input type="text" placeholder="최대 주문 가능 수량"></td> <!-- 사용자가 수량을 입력할 수 있습니다 -->
                                    </tr>
                                    <tr>
                                        <td>수수료</td>
                                        <td>거래대금의 0.25%</td> <!-- 수수료율을 표시합니다 -->
                                    </tr>
                                </table>
                            </div>

                            <!-- 시장가 내용 -->
                            <div id="marketSellOrderContent" style="display:none;">
                                <table class="table-order">
                                    <!-- 테이블 내용은 시장가 주문에 필요한 필드를 포함합니다 -->
                                    <tr>
                                        <td>주문가능</td>
                                        <td>0 원</td> <!-- 사용자의 현재 가능한 최대 주문 금액을 표시합니다 -->
                                    </tr>
                                    <tr>
                                        <td>주문금액</td>
                                        <td><input type="text" placeholder="최소 주문금액 10,000 원"></td> <!-- 사용자가 주문 금액을 입력할 수 있습니다 -->
                                    </tr>
                                    <tr>
                                        <td>예상수량</td>
                                        <td>0 BTC</td> <!-- 시장가 주문 시 예상되는 코인 수량을 표시합니다 -->
                                    </tr>
                                    <tr>
                                        <td>수수료</td>
                                        <td>거래금액의 0.25%</td> <!-- 수수료율을 표시합니다 -->
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
